.comment_user > .comment__details {
    display: inline-block;
    margin-left: 20px;
    
}

.comment_user {
    display: flex;
    align-items: center;
}

.comment_user > .avatar {
    width: calc(var(--one-line) * 2);
    border-radius: var(--border-radius);
    display: inline-block;
}

#comments .comment {
	min-height: calc(var(--one-line) * 2);
	margin: calc(0.5 * var(--one-line)) 0;
	padding: calc(0.5 * var(--one-line));
	border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden;
}

// Popup styling

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-align: center;
}

.popup-content {
  background: #fff;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
