/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-75: #444;
	--text-color: #333;

	--background-color: #fff;
	--background-color-2: rgb(245, 245, 245);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--text-color: #F8F8F2;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #FF5555;
		--text-color-link-active: pink;
		--text-color-link-visited: #a6a6f8;

		--background-color: #282A36;
		--background-color-2: rgb(30, 42, 53);
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
} 

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
	border-color: chocolate;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	background-color: var(--background-color-2);
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
	text-align:center;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

.callout-box {
    border: 1px solid var(--color-gray-50);
    background-color: var(--background-color);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.warning-box {
    border: 1px solid var(--color-gray-50);
    background-color: #5f1b12;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  margin: 0.5rem 0 1rem 0;
}

/* nav a {
  color: black;
  border: 3px solid black;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
  margin: 0 0.5rem;
  text-align: center;
  transition: .2s ease-in-out, .2s ease-in-out;
}

nav a:hover {
  background: black;
  color: white;
} */

/* 2 column grid on smaller screens (expand this window to test) */
/* @media (max-width: 550px) {
  .menu-container {
    grid-template-columns: repeat(2,1fr);
  }
} */


/* Button CSS */
.button-container {
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem; */
  margin: 0.5rem 0 1rem 0;
}

.button-container a {
  color: #ebbcba;
  border: 3px solid #31748f;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
  margin: 0 0.5rem;
  text-align: center;
  transition: .2s ease-in-out, .2s ease-in-out;
}

.button-container a:hover {
  background: #26233a;
  color: #e0def4;
  border: 3px solid #f6c177;
}

/* 2 column grid on smaller screens (expand this window to test) */
/* @media (max-width: 550px) {
  .button-container {
    grid-template-columns: repeat(2,1fr);
  }
} */

/* Button CSS */
.button-container-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  margin: 0.5rem 0 1rem 0;
}

.button-container-grid a {
  color: #ebbcba;
  border: 3px solid #31748f;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
  margin: 0 0.5rem;
  text-align: center;
  transition: .2s ease-in-out, .2s ease-in-out;
}

.button-container-grid a:hover {
  background: #26233a;
  color: #e0def4;
  border: 3px solid #f6c177;
}

/* 2 column grid on smaller screens (expand this window to test) */
@media (max-width: 550px) {
  .button-container-grid {
    grid-template-columns: repeat(2,1fr);
  }
}
