---
layout: layouts/home.njk
---
<script type="module" src="https://esm.sh/emfed@1"></script>
<link rel="stylesheet" type="text/css"
    href="https://esm.sh/emfed@1/toots.css">
<h1>Fediverse Feed - Mastodon</h1>

<iframe allowfullscreen sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" width="400" height="800" src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Flinuxrocks.online%2Fusers%2FOrbitalMartian&theme=auto&size=100&header=true&replies=true&boosts=true"></iframe>

<a class="mastodon-feed"
   href="https://linuxrocks.online/@orbitalmartian/"
   data-toot-limit="4"
   >Follow me into the Fediverse</a>

<iframe src="https://linuxrocks.online/@orbitalmartian/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://linuxrocks.online/embed.js" async="async"></script>