{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<div reversed class="postlist">
{% for post in postslist | reverse %}
	<a href="{{ post.url }}"><li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<b><a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></b>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		<br>
		<p>{{ post.data.description }}</p>
	</li></a>
	<hr class="post-break">
	<br>
{% endfor %}
</div>
