---
title: FlightGear Gallery
layout: layouts/base.njk
permalink: flightgear-shots.html
eleventyExcludeFromCollections: true
---

<h1>Hello World!</h1>

<figure><img src="/img/lxsl1y3aRW-1920.png"></figure>
<figcaption>LAPD Bell 206 flying past Hollywood Sign</figcaption>

<figure><img src="/img/fgfs-20240224193505.png"></figure>
<ficcaption>LAPD Bell 206 HDR Sunset</figcaption>