---
title: 100 Days To Offload
layout: layouts/base.njk
permalink: /100DaysToOffload/
eleventyNavigation:
  key: 100DaysToOffload
  weight: 1
  order: 8
---

<div class="container">

  <h1>100 Days To Offload
    {% set postCount = 0 %}
    {% for tag in collections.100DaysToOffload %}
      {% set postCount = postCount + 1 %}
    {% endfor %}
    <small>({{ postCount }} posts)</small>
  </h1>

<h2>How long left in <a href="https://100daystooffload.com">#100DaysToOffload</a>?</h2>

<b><h3 id="time"></h3></b>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Oct 01, 2024 23:59:59").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("time").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("time").innerHTML = "NaNoWriMo is over!!! Happy Reading!";
  }
}, 1000);
</script>

  <p>The challenge, <a href="https://100daystooffload.com/">100 Days To Offload</a>, is a challenge to publish 100 posts on your personal blog in a year. They dont need to be long, deep, meaningful, just content.</p>
  <p>
    You can see my list of posts below in the challenge and others as well: 
    <ul>
      <li><a href="https://linuxrocks.online/tags/100DaysToOffload">Mastodon</a></li>
    </ul>
  </p>
<br>
<br>
  <div class="card-grid">
    {% for post in collections.100DaysToOffload | reverse %}
    <div class="card">
      <h3 class="card__title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>
      <p class="card__date">{{ post.date | readableDate }}</p>
      <p class="card__description">{{ post.data.excerpt }}</p>
      <p class="card__subtitle">Tags:</p>
      <div class="card__tags">
        {% for tag in post.data.tags %}
          {% if tag != 'post' %}
            <a href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
            {%- if not loop.last %}, {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
	<br>
	<hr />
	<br>
    {% endfor %}
  </div>
</div>