<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		{#- <style>{% getBundle "css" %}</style> #}
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
		<link rel="stylesheet" href="/css/readable.css">
	</head>
	<body>
		{#- <a href="#skip" class="visually-hidden">Skip to main content</a> #}

		{#- <header>
			<a href="/" class="home-link">{{ metadata.title }}</a>
#}
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			{#- <nav. #}
				{#-	<h2 class="visually-hidden">Top level navigation menu</h2> #}
				{#- <ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav> #}
			
			{#- <nav>
  <div class="menu-container">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <a href="/about/stalker">Stalker</a>
    <a href="/blogroll.html">Blogroll</a>
    <a href="/subscribe.html">Subscribe</a>
  </div>
</nav>
		</header> #}
		
		<header>
		    <h1><a href="/">OrbitalMartian</a></h1>
		</header>
		<nav data-style="roundesque">
		    {#- <a href="/">Home</a> #}
			<a href="/blog">Blog</a>
			<a href="/now/">Now</a>
			<a href="https://codeberg.org/OrbitalMartian/eleventy" target="_blank">Code</a>
		</nav>

		<main id="skip">
			{{ content | safe }}
		</main>

		{#- <footer>
		    <a href="https://orbitalmartian.codeberg.page/feed/feed.json">Subscribe to RSS Feed</a>
		    <p>👻 Proud member of <a href="https://darktheme.club/">darktheme.club</a> 👻</p>
		</footer> #}
		
		<footer>
		    <p><a href="/100DaysToOffload">100DaysToOffload</a> | <a href="/fglivs/">FlightGear Liveries</a> | <a href="/blogroll.html">Blogroll</a> {#- | <a href="/policies/terms/">Terms of Use</a></p> #}
            <p>© 2024 OrbitalMartian; usable under CC BY-SA 4.0</p>
            <p><a href="/subscribe.html">Subscribe</a> | <a href="https://alpha.polymaths.social/@orbitalmartian" rel="me" target="blank">Fediverse</a> | <a href="/about/stalker">Contact Me</a>
			<p><a href="https://11ty.dev" target="_blank"><img src="/img/11ty.GIF"></a> <a href="/feed.xml"><img src="/img/rss.GIF"></a> <a href="https://alpha.polymaths.social/@orbitalmartian" rel="me" target="_blank"><img src="/img/fedibadge.PNG"></a> <a href="https://100daystooffload.com/" target="_blank"><img src="/img/100dtol.PNG"></a></p>
			
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
